[submodule "bad_breakup_tick_algorithms"]
	path = bad_breakup_tick_algorithms
	url = https://github.com/SMCCoder/deer_tick_bad_breakup_algorithms.git
[submodule "tick_dataset_results_analysis"]
	path = tick_dataset_results_analysis
	url = https://github.com/SMCCoder/tick_dataset_results_analysis.git
